html,body{
    margin: 0;
    padding: 0;
}
header{
    position: relative;
}
header > img{
    height: 7rem;
    position: absolute;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

.top-nav{
    background-color: red;
    /* padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem; */
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.top-nav > a{
    color: white;
    font-size: small;
    text-decoration: none;
}
hr{
    margin: 0;
}
.two-nav{
    background-color: red;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    justify-content: end;
    gap: 1rem;
}
.two-nav >a{
    color: white;
    text-decoration: none;
    font-size: large;
    text-transform: uppercase;
}
.two-nav >img{
    height: 2rem;



}


  







